[Unit]
Description=Telemetry Project Auto-Start
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/projects/flightpi/start_telem.sh
Restart=no
User=pi
WorkingDirectory=/home/pi/projects/flightpi

[Install]
WantedBy=multi-user.target
